%h3
  %p
    %b
      pH
  %p
    = @ph.ph
    = @ph.time
  %p
    %b
      eh
  %p
    = @eh.mv
    = @eh.time

%button#show-charts.btn.btn-lg.btn-success
  Show Charts

#chart-spinner
#phchartContainer{ :style => "height: 300px; width: 70%;" }
#ehchartContainer{ :style => "height: 300px; width: 70%;" }