%h3
  %p
    %b
      Temperature
  %p
    = @temp.temp
  %p
    = @temp.time

%button#show-charts.btn.btn-lg.btn-success
  Show Charts

#chart-spinner
#tchartContainer{ :style => "height: 300px; width: 70%;" }
