!!! 5
%html
  %head
    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
    %link{rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"}
    %link{rel: "stylesheet", href: "/css/table.css"}
    
  %body{:lang =>'en'}
    .container
      .header
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{href: "#"}
              Home
        %h3.text-muted 
          NanoTherics DataLog
      = yield

    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %script{src: "/js/spin.min.js"}
    %script{src: "/js/canvasjs.min.js"}
    %script{src: "/js/spinner_opts.js"}    
    %script{src: "/js/charts.js"}    
    %script{src: "/js/old_charts.js"}
    %script{src: "/js/new_charts.js"}
    %script{src: "/js/old_json_table.js"}
    %script{src: "/js/new_json_table.js"}
    %script{src: "/js/document.js"} 